<?xml version="1.0" encoding="utf-8"?>
<InfoCon>
  <add key="brokerHostName" value="47.94.212.174"/>
  <add key="username" value="0c29abad0036"/>
  <add key="password" value="Brhein666"/>
  <add key="ConnectionString" value="Database=brhein_iot;Data Source=47.94.212.174;User Id=brhein;Password=brhein123"/>
  <add key="APP_ID" value="wxecb0d92db344561e"/>
  <add key="APP_SECRET" value="d7d95cc0a72aa15895c5b083cc9e177d"/>
  <add key="ResultValue" value=""/>
  
  <add key="GetUserAllEle" value="SELECT  iot_elebox.*,MAC FROM iot_elebox LEFT JOIN iot_gateway ON iot_elebox.GateWayId =iot_gateway.ID WHERE GateWayID IN (SELECT GateWayID FROM iot_user_gateway WHERE UserId = (SELECT Id FROM iot_user WHERE OpenId = '"/>
  <add key="PTP" value="'))"/>
  <add key="GetSceneMAC" value="SELECT MAC FROM iot_gateway WHERE ID =(SELECT GateWayId FROM iot_scene WHERE ID="/>
  <add key="GetEleBoxMAC" value="SELECT MAC FROM iot_gateway WHERE ID =(SELECT GateWayId FROM iot_elebox WHERE ID="/>
  <add key="GetControlPanelMAC" value="SELECT MAC FROM iot_gateway WHERE ID =(SELECT GateWayId FROM iot_control_panel WHERE ID="/>
  <add key="GetGateWayMAC" value="SELECT MAC FROM iot_gateway WHERE ID="/>
  <add key="GetCreateTime" value="SELECT CreateTime FROM iot_user WHERE NickName="/>
    <!-- a parenthesis (public)-->
  <add key="aP" value=")"/>
  <!-- xml可以直接放入占位符，占位符本身是作为字符占位 -->
  <add key="GetHardWareMAC" value="SELECT MAC FROM iot_gateway WHERE ID=( SELECT GateWayId FROM iot_scene_panel WHERE ID=(SELECT ScenePanelId FROM iot_hardware_scene WHERE  ID={0}));"/>


</InfoCon>
