@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Vjpage/css/jqueryui.css" rel="stylesheet" type="text/css" />
    <link href="~/Vjpage/css/vjpublic.css" rel="stylesheet" type="text/css" />
    <link href="~/Vjpage/css/vjpage.css" rel="stylesheet" type="text/css" />
    <link href="~/Vjpage/css/config.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Vjpage/js/public.js"></script>
    <script type="text/javascript" src="~/Vjpage/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Vjpage/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Vjpage/js/Timage.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>生成二维码</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Brheinjs/getQRCode.js"></script>
</head>

<body data-curpagename="page7" class="body_style1">
    <div id="page7_jPanel1" class="Panel Panel_Null">
        <div id="page7_jImages1" class="Timage Timage_style1 Timage_auto"><img src="~/Vjpage/images/无背景.png" alt="~/Vjpage/images/无背景.png" title="" /></div>
        <map name="page7_jImages1_map" id="page7_jImages1_map"></map>
        <div id="page7_jPanel2" class="Panel Panel_Null">
            <div class="linkbox link_02" id="page7_jLink1"><a href="#" target="_self">首页</a></div>
            <div class="linkbox link_02" id="page7_jLink2"><a href="#" target="_self">修改密码</a></div>
            <div class="linkbox link_02" id="page7_jLink3"><a href="#" target="_self">重新登录</a></div>
            <div class="linkbox link_02" id="page7_jLink4"><a href="#" target="_self">退出</a></div>
            <div id="page7_jLabel1" class="text">|</div>
            <div id="page7_jLabel2" class="text">|</div>
            <div id="page7_jLabel3" class="text">|</div>
        </div>
    </div>

    <div id="page7_jPanel3" class="Panel Panel_Null" style="width:1800px;height:600px">
        <div id="page7_jImages3" class="Timage Timage_style1 Timage_auto"style="width:900px;height:500px;">
            <div style="width:200px;height:200px;border:1px solid #8DB3E3;text-align:center;line-height:10px;">
                <p>左侧输入设备编码</p>
                <p>点击生成二维码</p>
                <p>如有异常请联系管理员</p>
            </div>
        </div>
    </div>

    <div id="page7_jButton1" class="vjbutton vjbutton_c_style1 border_radius_3"><div class="vjbutton_txtR">生成二维码</div></div>
    <div class="Memo textarea_style2" contenteditable="true" id="page7_jMemo1"></div>
</body>
</html>








