body{font-size:12px;}

#page7_jPanel1{
  left: 0px;
  top: 1px;
  height: 120px;
  width: 100%;
  background: #FFFFFF;
}

#page7_jImages1{
  left: 1px;
  top: -78px;
  height: 199px;
  width: 252px;
}

#page7_jPanel2{
  right: 0px;
  top: 3px;
  height: 26px;
  width: 246px;
}

#page7_jLink1{
  left: 4px;
  top: 4px;
  height: 13px;
  line-height: 13px;
}

#page7_jLink2{
  left: 48px;
  top: 4px;
  height: 13px;
  line-height: 13px;
}

#page7_jLink3{
  left: 123px;
  top: 4px;
  height: 13px;
  line-height: 13px;
}

#page7_jLink4{
  left: 192px;
  top: 4px;
  height: 13px;
  line-height: 13px;
}

#page7_jLabel1{
  left: 111px;
  top: 6px;
  line-height: 14px;
}

#page7_jLabel2{
  left: 38px;
  top: 6px;
  line-height: 14px;
}

#page7_jLabel3{
  left: 184px;
  top: 6px;
  line-height: 14px;
}

#page7_jPanel3{
  left: 43px;
  top: 150px;
  height: 408px;
  width: 912px;
}

#page7_jButton1{
  left: 212px;
  top: 472px;
  width:90px;
  height:21px;
}

#page7_jMemo1{
  left: 98px;
  top: 180px;
  width:383px;
  height:250px;
}

#page7_jImages3{
  left: 578px;
  top: 41px;
  height: 231px;
  width: 230px;
}

